/*  your css code here. If applicable */
.hero{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 20px;
	
}

img{
	width:400px;
	height:500px;
	object-fit: cover;
	border-radius: 16px
}
button{
	color: white;
	background-color:red;
	padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}